* {
    margin: 0;
    padding: 0;
}

body {
    align-items: center;
    background-color: #0092b3;
    display: grid;
    justify-items: center;    
}

main {
    color: #ffffff;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    margin-top: 20vh;
    padding: 0 15vw;
}
h1 {
    font-size: 2.5rem;
    font-weight: 800;
    margin-top: 0.5rem;
}

img {
    object-fit: cover;
    min-height: 15vh;
    max-height: 25vh;
    min-width: 20vw;
    max-width: 50vw;
}

p {
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 0.3rem;
}

.smile {
    font-size: 1.75rem;
    margin-top: 2rem;
}