header {
    display: grid;
    background: no-repeat url(../images/Wavy-Background.svg);
    background-position: 45vw -6vh;
}

.hero {
    justify-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-top: 3rem;
    width: var(--nav-width);
    gap: 2rem;
}

.hero div {
    display: grid;
    gap: 2rem;
    align-content: center;
}

.hero .left {
    justify-items: start;
    max-width: 33.75rem;
}

.hero .right {
    justify-items: end;
}

.hero h1 {
    font-size: clamp(1rem, 6vw, 4rem);
    font-weight: 400;
    line-height: clamp(1rem, 6vw, 4rem);
}

.hero p {
    font-size: clamp(1rem, 3vw, 1.5rem);
    font-weight: 400;
}

.hero .button {
    justify-self: start;
}

.hero .animation {
    box-shadow: var(--elevation-1);
    border-radius: 1rem;
    max-height: 65vh;
}

/************/
/* Solution */
/************/
.solution {
    display: grid;
    justify-content: center;
    background-color: var(--blue-50);
}

.issues {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    list-style-type: none;
    gap: 2rem;
}

.bubble {
    aspect-ratio: 1;
    background-color: var(--blue-600);
    border-radius: 50%;
    display: grid;
    align-content: center;
    justify-content: center;
    text-align: center;
    padding: 1rem;
    box-shadow: var(--elevation-1);
    transition: all 250ms;
    width: 80%;
}

.bubble:hover,
.bubble:focus {
    background-color: var(--blue-700);
    box-shadow: var(--elevation-3);
    transition: all 250ms;
    cursor: pointer;
}

.bubble.selected{
    background-color: var(--blue-1100);
    color: var(--blue-200);
}
/* End Solution */

/*********/
/* About */
/*********/
main .container{
    display: grid;
    gap: 2rem;
    padding: 4rem 2rem;
    color: var(--on_surface);
    border-radius: 1rem;
}

main .about {
    background-color: var(--surface_varient);
}

main .about .container {
    clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
    background-color: var(--surface)
}

.benefits .container {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 95%);
    background-color: var(--surface_varient);
    padding-bottom: 8rem;
}
.benefits {
    background-color: hsl(192, 53%, 90%);
}

main .services {
    background-color: hsl(192, 53%, 90%);
}

main .services h2 {
    color: hsl(192, 53%, 10%);
}

.card.filled {
    display: grid;
    color: hsl(192, 53%, 10%);
    background-color: hsl(192, 53%, 95%);
    border-radius: 1rem;
    gap: 1rem;
    padding: 1.5rem;
}

#create_package {
    background-color: var(--primary);
    grid-template-areas: 
            "title chip"
            "p     p"
            "cta cta";
}

#create_package p:not(.chip) {
    grid-area: p;
}

.chip {
    grid-area: chip;
    justify-self: end;
}
<<<<<<< HEAD
/* End About */
=======
/* End About */
>>>>>>> 4bd7d2618aa9a0732394b12640ec95a7de173a91
