header {
    display: grid;
    background: no-repeat url(../images/Wavy-Background.svg);
    background-position: 45vw -6vh;
}

.hero {
    justify-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-top: 3rem;
    width: var(--nav-width);
    gap: 2rem;
}

.hero div {
    display: grid;
    gap: 2rem;
    align-content: center;
}

.hero .left {
    justify-items: start;
    max-width: 33.75rem;
}

.hero .right {
    justify-items: end;
}

.hero h1 {
    font-size: clamp(1rem, 6vw, 4rem);
    font-weight: 400;
    line-height: clamp(1rem, 6vw, 4rem);
}

.hero p {
    font-size: clamp(1rem, 3vw, 1.5rem);
    font-weight: 400;
}

.hero .button {
    justify-self: start;
}

.hero .animation {
    box-shadow: var(--elevation-2);
    border-radius: 1rem;
    max-height: 65vh;
}

main .container{
    display: grid;
    gap: 2rem;
    padding: 4rem 2rem;
    color: var(--gray-800);
    border-radius: 1rem;
}

/************/
/* Solution */
/************/
.solution {
    display: grid;
    justify-content: center;
    background-color: var(--blue-50);
}

.issues {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    list-style-type: none;
    row-gap: 1.5rem;
}

#bubble-1,
#bubble-5,
#bubble-9 {
    animation: hover-left_side 3s linear alternate infinite;
}

#bubble-2,
#bubble-6,
#bubble-10 {
    animation: hover-right_side 3s linear alternate-reverse infinite;
}

#bubble-3,
#bubble-7,
#bubble-11 {
    animation: hover-left_side 3s linear alternate-reverse infinite;
}

#bubble-4,
#bubble-8,
#bubble-12 {
    animation: hover-right_side 3s linear alternate infinite;
}

.bubble {
    aspect-ratio: 1;
    background-color: var(--blue-1000);
    color: var(--blue-100);
    border-radius: 50%;
    display: grid;
    align-content: center;
    justify-content: center;
    text-align: center;
    font-size: 0.9rem;
    font-weight: 500;
    position: relative;
    padding: 1rem;
    box-shadow: var(--elevation-1);
    transition: all 250ms;
    width: 65%;
}

.bubble:hover,
.bubble:focus-visible {
    background-color: var(--blue-900);
    box-shadow: var(--elevation-1);
    transition: all 250ms;
    cursor: pointer;
}

.bubble.selected{
    transition: all 250ms;
    background-color: var(--blue-800);
    color: var(--blue-50);
}

.solution .cta {
    margin-top: 7rem;
    justify-self: center;
}
/* End Solution */


/************/
/* Benifits */
/************/
.benefits {
    background-color: var(--gray-100);
}
/* End Benifits */

/************/
/* Services */
/************/
main .services {
    background-color: var(--blue-50);
}
/* End Services */


/**************/
/* Animations */
/**************/
@keyframes hover-left_side {
    0% {
        transform: translateY(-1.5%);
    }

    100% {
        transform: translateY(1.5%);
    }
}

@keyframes hover-right_side {
    0% {
        transform: translateY(48.5%);
    }

    100% {
        transform: translateY(51.5%);
    }
}