/* Global Variables */
:root {
    /** Fonts **/
    --display-large-font_size: 3.5625rem;
    --display-large-font_weight: 400;
    --display-large-line_height: 4rem;
    --display-medium-font_size: 2.8125rem;
    --display-medium-font_weight: 400;
    --display-medium-line_height: 3.25rem;
    --display-small-font_size: 2.25rem;
    --display-small-font_weight: 400;
    --display-small-line_height: 2.75rem;

    --headline-large-font_size: 2rem;
    --headline-large-font_weight: 400;
    --headline-large-line_height: 2.5rem;
    --headline-medium-font_size: 1.75rem;
    --headline-medium-font_weight: 400;
    --headline-medium-line_height: 2.25rem;
    --headline-small-font_size: 1.5rem;
    --headline-small-font_weight: 400;
    --headline-small-line_height: 2rem;

    --title-large-font_size: 1.375rem;
    --title-large-font_weight: 400;
    --title-large-line_height: 1.75rem;
    --title-medium-font_size: 1rem;
    --title-medium-font_weight: 500;
    --title-medium-line_height: 1.5rem;
    --title-small-font_size: 0.875rem;
    --title-small-font_weight: 500;
    --title-small-line_height: 1.25rem;

    --label-large-font_size: 0.875rem;
    --label-large-font_weight: 500;
    --label-large-line_height: 1.25rem;
    --label-medium-font_size: 0.75rem;
    --label-medium-font_weight: 500;
    --label-medium-line_height: 1rem;
    --label-small-font_size: 0.6875rem;
    --label-small-font_weight: 500;
    --label-small-line_height: 1rem;

    --body-large-font_size: 1rem;
    --body-large-font_weight: 400;
    --body-large-line_height: 1.5rem;
    --body-medium-font_size: 0.875rem;
    --body-medium-font_weight: 400;
    --body-medium-line_height: 1.25rem;
    --body-small-font_size: 0.75rem;
    --body-small-font_weight: 400;
    --body-small-line_height: 1rem;
}
    
*.light_theme{
    --on_primary: #FFFFFF;
    --primary: #00687C;
    --primary_container: #B0ECFF;
    --on_primary_container: #001F27;

    --secondary: #365CA8;
    --on_secondary: #FFFFFF;
    --secondary_container: #D9E2FF;
    --on_secondary_container: #001944;

    --error: #BA1A1A;
    --on_error: #FFFFFF;
    --error_container: #FFDAD6;
    --on_error_container: #410002;

    --surface: #FBFCFE;
    --on_surface: #191C1D;
    --surface_varient: #DBE4E8;
    --on_surface_varient: #40484B;

    --background: #FBFCFE;
    --on_background: #191C1D;

    --outline: #70787C;
}

*.dark_theme {
    --primary: #78C3D6;
    --on_primary: #003641;
    --primary_container: #004E5E;
    --on_primary_container: #D9D9D9;

    --secondary: #AFC6FF;
    --on_secondary: #002D6D;
    --secondary_container: #17438F;
    --on_secondary_container: #D9E2FF;

    --error: #FFB4AB;
    --on_error: #690005;
    --error_container: #93000A;
    --on_error_container: #FFDAD6;

    --surface: #191C1D;
    --on_surface: #E1E3E4;
    --surface_varient: #40484B;
    --on_surface_varient: #BFC8CB;

    --background: #191C1D;
    --on_background: #E1E3E4;

    --outline: #BFC8CB;
}

* {
    margin: 0;
    padding: 0;
}

/* sr-only code from https://gist.github.com/ffoodd/000b59f431e3e64e4ce1a24d5bb36034 */
.sr-only { 
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important;
	-webkit-clip-path: inset(50%) !important;
		clip-path: inset(50%) !important;
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;
}
/* End sr-only code */

.hidden {
    display: none;
}
    /* Buttons */
    .button.filled {
        background-color: var(--primary);
        border-radius: 1.25em;
        color: var(--on_primary);
        display: grid;
        align-self: center;
        align-content: center;
        justify-items: center;
        grid-template-columns: 1fr;
        font-size: var(--label-large-font_size);
        font-weight: var(--label-large-font_weight);
        line-height: var(--label-large-line_height);
        padding: 0 1.5em;
        text-decoration: none;
        height: 2.5em;
    }

    .button.filled:has(.icon){
        grid-template-columns: auto 1fr;
        padding-left: 1rem;
        gap: 0.5rem;
    }
    /* End Buttons */
/* End Global Variables */

/* Navbar */
nav {
    background-color: var(--surface);
    display: grid;
    grid-template-columns: auto 1fr auto;
    height: 3rem;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0.5rem 1rem;
    width: calc(100vw - 2rem);
}

nav .toggle-button {
    aspect-ratio: 1;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 50%;
    display: grid;
    justify-content: center;
    align-items: center;
    fill: var(--on_surface);
    position: absolute;
    top: 0.5rem;
    right: 0.25rem;
    width: 3rem;
}

nav .toggle-button:hover,
nav .toggle-button:focus {
    background-color: rgba(255, 255, 255, 10%);
}

nav .logo {
    height: 100%;
}

nav .logo-link {
    height: 3rem;
}
 nav .list {
    background-color: var(--surface);
    list-style-type: none;
    display: grid;
    grid-template-rows: repeat(5, auto) 1fr;
    gap: 0.25rem;
    position: relative;
    top: 3.5rem;
    left: -5.5rem;
    width: 100vw;
    height: 100vh;
    padding: 1rem 3rem;
    transform: translateY(-100%);
    z-index: -1;
 }

 nav .list[data-visible="true"] {
    transition: transform 500ms ease-out;
    transition-delay: 150ms;
    transform: translateY(0%);
 }

 nav .list[data-visible="false"] {
    transition: transform 500ms ease-out;
    transform: translateY(-100%);
 }

 nav .link {
    font-size: var(--title-large-font_size);
    font-weight: var(--label-large-font_weight);
    line-height: 3rem;
    text-decoration: none;
 }

 nav .link:hover,
 nav .link:focus{
    color: var(--on_surface_varient);
 }

 nav .button.cta {
    font-size: var(--title-medium-font_size);
    font-weight: var(--label-large-font_weight);
    justify-self: left;
    margin: 0.25em -1.5em;
 }


/* End Navbar */


body {
    font-family: "Quicksand", sans-serif;
}



a {
    color: var(--primary);
}

main {
    margin-top: 4rem;
    padding: 1rem;
    font-size: var(--body-large-font_size);
    font-weight: var(--body-large-font_weight);
    line-height: var(--body-large-line_height);
}

/* Footer */
footer {
    background-color: var(--surface);
    color: var(--on_surface);
    display: grid;
    font-size: var(--body-medium-font_size);
    font-weight: var(--body-medium-font_weight);
    line-height: var(--body-medium-line_height);
    padding: 1rem;
}

footer h6 {
    font-size: var(--body-medium-font_size);
    font-weight: 700;
    line-height: var(--body-medium-line_height);
}

footer .two-colums {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

footer .copyright {
    margin-top: 1rem;
    text-align: center;
}

footer .social-media-icon {
    fill: var(--on_surface);
    margin: 0 1rem;
}

footer .social-media-icon:hover {
    fill: #ffffff;
}

footer .social-media-links {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
/* End Footer */

/* Animations */
.fadeIn {
    animation: fadeIn 600ms;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fadeOut {
    animation: fadeOut 200ms;
    opacity: 0;
}
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}